assets/_starterKitBluemixHands.txt
[{"id":"24e91a12.19aad6","type":"ibmiot in","z":"38cfd079.be753","authentication":"boundService","apiKey":"235a7f63.8d9fb","inputType":"appsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":140,"y":100,"wires":[["a24f868e.ca15b8"]]},{"id":"286bbe4a.5f7b92","type":"comment","z":"38cfd079.be753","name":"Main Application","info":"","x":140,"y":60,"wires":[]},{"id":"7f6fc501.3647dc","type":"comment","z":"38cfd079.be753","name":"Context Definition","info":"Node RED carga las funciones cuando hacemos el deploy.","x":364.85716247558594,"y":57.28569030761719,"wires":[]},{"id":"dc9fbaf4.6ee4c8","type":"debug","z":"38cfd079.be753","name":"message Error","active":true,"console":"false","complete":"true","x":1291.321533203125,"y":1003.7857666015625,"wires":[]},{"id":"406e50c6.cd31b","type":"function","z":"38cfd079.be753","name":"Deserializacion Body Parts","func":"function toDecimal(input, decimals){\n    var res =  parseFloat(Math.round(input * 100) / 100).toFixed(decimals);\n    //node.warn(res);\n    return res;\n}\n\n\nvar obj = msg.payload;\n//node.warn(obj);\nvar user = obj.user;\n//node.warn(user);\nvar size = user.length;\n//node.warn(size);\nvar numDecimals = this.context.global.get(\"numDecimals\");\n\nif (user) {\n    \n    for (var i = 0; i < size; i++)\n    { \n        var bodypart = context.global.get(\"bodyPartSelect\");\n        //node.warn(bodypart);\n        \n        var body = user[i].bodyParts;\n        //node.warn(body);\n        var item = null;\n        if(body){\n             body.forEach( \n                  function(p){ \n                      if(p.name == bodypart) {\n                          \n                          p.positions[0].x = toDecimal(p.positions[0].x, numDecimals);\n                          p.positions[0].y = toDecimal(p.positions[0].y, numDecimals);\n                          p.positions[0].z = toDecimal(p.positions[0].z, numDecimals);\n\n                          item = p;\n                          item.userId = i+1;\n                         // node.warn(item);\n                          node.send(item);\n                          return null;\n                      }\n                  }\n              );\n        }\n    }\n}","outputs":1,"noerr":0,"x":948.428466796875,"y":914.5714111328125,"wires":[["f9862705.8e1f58"]],"outputLabels":["string"]},{"id":"8e6646a9.51d478","type":"function","z":"38cfd079.be753","name":"Random","func":"msg.payload = Math.round(Math.random()*120);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":990,"y":222,"wires":[["47307a75.e568f4","9578c532.236a68"]],"outputLabels":["string"]},{"id":"a00d3f29.eabdf","type":"function","z":"38cfd079.be753","name":"Throttling","func":"var packetId = msg.payload.packetID;\n\nif(packetId % this.context.global.get(\"numPacketsDebug\") == 0)  \n    node.warn(packetId);\n\nif(packetId % this.context.global.get(\"numPackets\") == 0)  \n    return node.send(msg);\n\n\n\n","outputs":1,"noerr":0,"x":450,"y":542,"wires":[["406e50c6.cd31b","8e6646a9.51d478","d996bbbf.89ac08","1e6537fd.542fb8","adbda000.210e5","28f54b3f.3127a4","21c57621.12b5ca"]]},{"id":"1e6537fd.542fb8","type":"debug","z":"38cfd079.be753","name":"trace","active":false,"console":"false","complete":"true","x":977.1429023742676,"y":404.85719108581543,"wires":[]},{"id":"f9862705.8e1f58","type":"switch","z":"38cfd079.be753","name":"Body Parts","property":"_msgid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":1019.1785888671875,"y":1044.6070556640625,"wires":[["dc9fbaf4.6ee4c8"],["6f69f566.2f7afc","d0ba80cf.640c7","6bf22ec6.eed36","89b2ac31.5fd98","30a1d320.15a0fc","cfe3fd97.e70cb","581d6e87.92ed2"]]},{"id":"a24f868e.ca15b8","type":"function","z":"38cfd079.be753","name":"Configure Service Skeleton","func":"\n\n/*********************************** Configuration *************************************/\n//this.context.global.queue = new Queue();\n//node.warn(\"is Queue Empty: \"+this.context.global.queue.getLength()+\" Is initialize \"+this.context.global.queue.isInitialize());\n//this.context.global.queue = new FastPriorityQueue();\n//this.context.global.mutex = new Mutex();\n\n\nthis.context.global.set(\"timeDelay\",1000);\nthis.context.global.set(\"numPackets\",15);\nthis.context.global.set(\"bodyPartSelect\", \"SpineBase\");\nthis.context.global.set(\"numDecimals\",3);\nthis.context.global.set(\"numPacketsDebug\",100);\nthis.context.global.set(\"initializeTone\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":396.07139587402344,"y":100.64285278320312,"wires":[[]]},{"id":"ff83cade.5ac0f8","type":"debug","z":"38cfd079.be753","name":"","active":false,"console":"false","complete":"true","x":380,"y":382,"wires":[]},{"id":"7457bbca.95a594","type":"ibmiot in","z":"38cfd079.be753","authentication":"apiKey","apiKey":"235a7f63.8d9fb","inputType":"evt","deviceId":"kinectDeviceMDR","applicationId":"","deviceType":"kinectDeviceType","eventType":"+","commandType":"","format":"json","name":"IBM IoT Input Kinect","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":145,"y":447.99998664855957,"wires":[["a00d3f29.eabdf","ff83cade.5ac0f8"]]},{"id":"6c0c3c4a.7776b4","type":"comment","z":"38cfd079.be753","name":"URL de mensajes enviados","info":"https://quickstart.internetofthings.ibmcloud.com/#/device/demo-service/sensor/","x":234.57159423828125,"y":1370.09521484375,"wires":[]},{"id":"ae28619e.252f5","type":"comment","z":"38cfd079.be753","name":"Publishing events","info":"Devices publish to the event topics in the following format:\n\n\niot-2/evt/event_id/fmt/format_string\n\nWhere\n\nevent_id is the ID of the event, for example status. The event ID can be any string that is valid in MQTT. If wildcards are not used, subscriber applications must use this string in their subscription topic to receive the events that are published on their topic.\nformat_string is a string that defines the content type of the message payload so that the receiver of the message can determine how to parse the content. Common content type values include but are not limited to \"json\", \"xml\", \"txt\", and \"csv\". The value can be any string that is valid in MQTT.\nImportant: The message payload is limited to a maximum of 131072 bytes. Messages larger than this limit are rejected.\n\n","x":187.4287567138672,"y":1316.9524478912354,"wires":[]},{"id":"fde9a0b0.b8077","type":"comment","z":"38cfd079.be753","name":"Subscribing to commands","info":"Devices can subscribe to command topics in the following format:\n\n\niot-2/cmd/command_id/fmt/format_string\n\nWhere\n\ncommand_id is the ID of the command, for example, update. The command ID can be any string that is valid in the MQTT protocol. \n\nIf wildcards are not used, a device must use this string in its subscription topic to receive commands that are published on their topic.\nformat_string is a string that defines the content type of the command payload so that the receiver of the command can determine how to parse the content. \n\nCommon content type values include but are not limited to \"json\", \"xml\", \"txt\", and \"csv\". The value can be any string that is valid in MQTT.\nDevices cannot subscribe to events from other devices. A device receives commands that are published only to its own device.\n\n","x":214.5716094970703,"y":1266.9525871276855,"wires":[]},{"id":"8ee1838a.d4021","type":"comment","z":"38cfd079.be753","name":"Message format","info":"All messages are sent in JSON format.\n\nRequests\nRequests are formatted as shown in the following code sample:\n\n\n{  \"d\": {...}, \"reqId\": \"b53eb43e-401c-453c-b8f5-94b73290c056\" }\nWhere:\n\nd carries any data that is relevant to the request.\nreqId is an identifier of the request and must be copied into a response. If a response is not required, you can omit the reqId field.\nResponses\nResponses are formatted as shown in the following code sample:\n\n        {\n            \"rc\": 0,\n            \"message\": \"success\",\n            \"d\": {...},\n            \"reqId\": \"b53eb43e-401c-453c-b8f5-94b73290c056\"\n        }\nWhere:\n\nrc is a result code of the original request.\nmessage is an optional element with a text description of the response code.\nd is an optional data element that accompanies the response.\nreqId is the request ID of the original request, which is used to correlate responses with requests. The device must ensure that all request IDs are unique. Responses to Watson IoT Platform requests must include the correct reqId value.\nFor more information about specific request and response messages, see Device Management Protocol and Device Management Requests.","x":428.8573226928711,"y":1269.8096618652344,"wires":[]},{"id":"27ec612a.900ebe","type":"comment","z":"38cfd079.be753","name":"Client connection URLs","info":"To connect device, application, and gateway clients to your Watson IoT Platform instance, use the following connection URLs:\n\n\n\nMessaging address\n\norgId.messaging.internetofthings.ibmcloud.com\n\n\n\nHTTP REST API connection URL\n\nhttps://orgId.messaging.internetofthings.ibmcloud.com/api/v0002/device/types/typeId/devices/deviceId/events/eventId\n\n\n\nNotes\n\nWhere orgId is the unique organization ID that was generated when you registered the service instance.\nIf you are connecting a device or application to the Quickstart service, specify 'quickstart' as the orgId value.","x":207.42876434326172,"y":1221.238094329834,"wires":[]},{"id":"31d54fb6.a8ed2","type":"comment","z":"38cfd079.be753","name":"Port security","info":"Ensure that the required ports are open and enabled for communication. Ports 8883 and 443 support secure connections using TLS with the MQTT and HTTP protocol. Port 1883 supports non-secure connections with the MQTT and HTTP protocol. Information about connection type and associated port numbers is summarized in the following table:\n\nConnection type\tPort number\nNon-secure\t1883\nSecure\t8883\nSecure\t443\nMQTT is supported over TCP and WebSockets. MQTT clients connect by using appropriate credentials, such as device authentication tokens for devices and API keys and tokens for applications. Because MQTT messaging to the insecure port 1883 sends these credentials in plain text, always use the secure alternatives 8883 or 443 instead. The TLS credentials are always encypted when sent over secure ports. Be aware that you must enable TLS in the application by using the tls_set() method that is in the Python MQTT library. Otherwise, the data might be sent insecurely.\n\nWhen you use secure MQTT messaging on ports 8883 or 443, newer client libraries automatically trust the certificate that is presented by Watson IoT Platform. If this is not the case for your client environment, you can download and use the full certificate chain from messaging.pem.\n\n","x":420.2859115600586,"y":1225.5238437652588,"wires":[]},{"id":"e70cb845.aa8358","type":"comment","z":"38cfd079.be753","name":"MQTT client identifiers","info":"For devices, applications, and gateways to successfully authenticate, define each MQTT client by using the following client identifiers and format:\n\nClient type\tID\tMQTT ID format\nApplications\ta\t\na:orgId:appId\nScalable Applications\tA\t\nA:orgId:appId\nDevices\td\t\nd:orgId:deviceType:deviceId\nGateways\tg\t\ng:orgId:typeId:deviceId\nWhere\n\norgId is the unique six-character organization ID that was generated when you registered the service.\nappId is a user-defined unique string identifier for the client.\ndeviceId uniquely identifies a device or gateway across all types and is analogous to a serial number.\ndevice_type is the identifier for the type of device that is connecting and is analogous to a model number.\ntypeId is an identifier of the type of gateway that is connecting and is analogous to a model number.\nThe appId, type_id, device_type, and device_id values must be no more than 36 characters and can contain only:\n\nAlpha-numeric characters (a-z, A-Z, 0-9)\nDashes ( - )\nUnderscores ( _ )\nDots ( . )\nNotes:\n\nWhen you connect to the Quickstart service, authentication is not required.\nYou do not need to register an application before you connect.\n","x":411.7144584655762,"y":1318.3810176849365,"wires":[]},{"id":"eb8e25a8.ee6778","type":"debug","z":"38cfd079.be753","name":"","active":true,"console":"false","complete":"true","x":540,"y":782,"wires":[]},{"id":"cdcdcc9a.9ed39","type":"function","z":"38cfd079.be753","name":"Global set BodyPartSelected","func":"var data = msg.payload;\nthis.context.global.set(\"bodyPartSelect\", data);\n//node.warn(this.context.global.get(\"bodyPartSelect\"));\nreturn msg;","outputs":1,"noerr":0,"x":327.14291763305664,"y":782.5715007781982,"wires":[["eb8e25a8.ee6778"]]},{"id":"b354075f.488038","type":"switch","z":"38cfd079.be753","name":"Hands Parts","property":"leftHandState","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":1299.71435546875,"y":779,"wires":[["ee6865ea.1d1688"],["c09a0e8f.67b1f","7fd8f266.8e26fc","775547c.83bb6b8","77d7dbd8.798d14","7f78a5dc.83891c"]]},{"id":"ee6865ea.1d1688","type":"debug","z":"38cfd079.be753","name":"Message Error","active":true,"console":"false","complete":"true","x":1541.428581237793,"y":486.2857427597046,"wires":[]},{"id":"21c57621.12b5ca","type":"function","z":"38cfd079.be753","name":"Deserializacion Hands Parts","func":"var obj = msg.payload;\n//node.warn(obj);\nvar user = obj.user;\n//node.warn(user);\nvar size = user.length;\n\nif (user) {\n    \n    for (var i = 0; i < size; i++)\n    { \n        var user = user[i];\n        \n        if(user == undefined)\n            continue;\n\n        user.userId = i + 1;\n\n        node.send(user);\n    }\n}","outputs":1,"noerr":0,"x":964.2857208251953,"y":780.5713758468628,"wires":[["b354075f.488038"]]},{"id":"cb22ed22.2e379","type":"comment","z":"38cfd079.be753","name":"*******    Profile    *******","info":"","x":975.714358329773,"y":359.14281272888184,"wires":[]},{"id":"90ad050e.6d52a8","type":"comment","z":"38cfd079.be753","name":"*******    Hands    *******","info":"","x":1561.4285278320312,"y":411.9999885559082,"wires":[]},{"id":"fec1194a.e772d8","type":"comment","z":"38cfd079.be753","name":"*******    Body Parts    *******","info":"","x":1299.4285834176198,"y":903.4286219051905,"wires":[]},{"id":"94eb21a9.a2561","type":"comment","z":"38cfd079.be753","name":"*******    Validation    *******","info":"","x":1312.8572616577148,"y":686.285680770874,"wires":[]},{"id":"28f83117.02ba8e","type":"debug","z":"38cfd079.be753","name":"template","active":false,"console":"false","complete":"true","x":1915.7143821716309,"y":776.2856044769287,"wires":[]},{"id":"6d2ad1e9.95ca8","type":"comment","z":"38cfd079.be753","name":"Tone.js","info":"","x":601,"y":48,"wires":[]},{"id":"f67360b1.c035a","type":"comment","z":"38cfd079.be753","name":"******* Deserializacion ********","info":"","x":959.9999694824219,"y":704.8571166992188,"wires":[]},{"id":"bbafea5a.72c9c8","type":"ui_dropdown","z":"38cfd079.be753","name":"","label":"Select","place":"","group":"e2213d4c.be018","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"SpineBase","value":"SpineBase","type":"str"},{"label":"SpineMid","value":"SpineMid","type":"str"},{"label":"Neck","value":"Neck","type":"str"},{"label":"Head","value":"Head","type":"str"},{"label":"SpineBase","value":"SpineBase","type":"str"},{"label":"ShoulderLeft","value":"ShoulderLeft","type":"str"},{"label":"ElbowLeft","value":"ElbowLeft","type":"str"},{"label":"WristLeft","value":"WristLeft","type":"str"},{"label":"HandLeft","value":"HandLeft","type":"str"},{"label":"ShoulderRight","value":"ShoulderRight","type":"str"},{"label":"ElbowRight","value":"ElbowRight","type":"str"},{"label":"WristRight","value":"WristRight","type":"str"},{"label":"HandRight","value":"HandRight","type":"str"},{"label":"HipLeft","value":"HipLeft","type":"str"},{"label":"KneeLeft","value":"KneeLeft","type":"str"},{"label":"AnkleLeft","value":"AnkleLeft","type":"str"},{"label":"FootLeft","value":"FootLeft","type":"str"},{"label":"HipRight","value":"HipRight","type":"str"},{"label":"KneeRight","value":"KneeRight","type":"str"},{"label":"AnkleRight","value":"AnkleRight","type":"str"},{"label":"FootRight","value":"FootRight","type":"str"},{"label":"SpineShoulder","value":"SpineShoulder","type":"str"},{"label":"HandTipLeft","value":"HandTipLeft","type":"str"},{"label":"ThumbLeft","value":"ThumbLeft","type":"str"},{"label":"HandTipRight","value":"HandTipRight","type":"str"},{"label":"ThumbRight","value":"ThumbRight","type":"str"},{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":97.14287948608398,"y":782.000020980835,"wires":[["cdcdcc9a.9ed39"]]},{"id":"6f69f566.2f7afc","type":"ui_text","z":"38cfd079.be753","group":"e2213d4c.be018","order":3,"width":0,"height":0,"name":"x","label":"x","format":"{{msg.positions[0].x}}","layout":"row-spread","x":1346.3571968078613,"y":1102.928638935089,"wires":[]},{"id":"d996bbbf.89ac08","type":"ui_text","z":"38cfd079.be753","group":"be7d314e.1e43f","order":5,"width":0,"height":0,"name":"_msgid","label":"_msgid","format":"{{msg._msgid}}","layout":"row-spread","x":1029.5712890625,"y":571.5356292724609,"wires":[]},{"id":"d0ba80cf.640c7","type":"ui_text","z":"38cfd079.be753","group":"e2213d4c.be018","order":5,"width":0,"height":0,"name":"z","label":"z","format":"{{msg.positions[0].z}}","layout":"row-spread","x":1345.3571968078613,"y":1179.928638935089,"wires":[]},{"id":"6bf22ec6.eed36","type":"ui_text","z":"38cfd079.be753","group":"e2213d4c.be018","order":4,"width":0,"height":0,"name":"y","label":"y","format":"{{msg.positions[0].y}}","layout":"row-spread","x":1345.3571968078613,"y":1141.928638935089,"wires":[]},{"id":"89b2ac31.5fd98","type":"ui_text","z":"38cfd079.be753","group":"e2213d4c.be018","order":1,"width":0,"height":0,"name":"","label":"Body    ","format":"{{msg.name}}","layout":"row-spread","x":1346.3571891784668,"y":1234.928638935089,"wires":[]},{"id":"c09a0e8f.67b1f","type":"ui_text","z":"38cfd079.be753","group":"82e77142.f2e2d","order":3,"width":0,"height":0,"name":"leftHandState","label":"Left","format":"{{msg.leftHandState}}","layout":"row-spread","x":1637.9998893737793,"y":674.392744064331,"wires":[]},{"id":"7fd8f266.8e26fc","type":"ui_text","z":"38cfd079.be753","group":"82e77142.f2e2d","order":4,"width":0,"height":0,"name":"rightHandState","label":"Right","format":"{{msg.rightHandState}}","layout":"row-spread","x":1638.4284439086914,"y":624.8213367462158,"wires":[]},{"id":"30a1d320.15a0fc","type":"ui_text","z":"38cfd079.be753","group":"e2213d4c.be018","order":2,"width":0,"height":0,"name":"User","label":"User ","format":"{{msg.userId}}","layout":"row-spread","x":1352.7498931884766,"y":1053.3213925361633,"wires":[]},{"id":"adbda000.210e5","type":"ui_text","z":"38cfd079.be753","group":"be7d314e.1e43f","order":2,"width":0,"height":0,"name":"Packet ID","label":"Packet ID","format":"{{msg.payload.packetID}}","layout":"row-spread","x":1023.1426315307617,"y":522.8213186264038,"wires":[]},{"id":"cfe3fd97.e70cb","type":"ui_text","z":"38cfd079.be753","group":"e2213d4c.be018","order":6,"width":0,"height":0,"name":"","label":"isPresent","format":"{{msg.isPresent}}","layout":"row-spread","x":1356.8571891784668,"y":1285.428638935089,"wires":[]},{"id":"581d6e87.92ed2","type":"ui_text","z":"38cfd079.be753","group":"e2213d4c.be018","order":7,"width":0,"height":0,"name":"isTracked","label":"isTracked","format":"{{msg.isTracked}}","layout":"row-spread","x":1362.142993927002,"y":1335.4285998344421,"wires":[]},{"id":"28f54b3f.3127a4","type":"ui_text","z":"38cfd079.be753","group":"be7d314e.1e43f","order":1,"width":0,"height":0,"name":"","label":"Total users","format":"{{msg.payload.user.length}}","layout":"row-spread","x":1020,"y":482,"wires":[]},{"id":"77d7dbd8.798d14","type":"ui_text","z":"38cfd079.be753","group":"82e77142.f2e2d","order":2,"width":0,"height":0,"name":"","label":"State","format":"","layout":"row-center","x":1612.8571166992188,"y":579.1429595947266,"wires":[]},{"id":"775547c.83bb6b8","type":"ui_text","z":"38cfd079.be753","group":"82e77142.f2e2d","order":1,"width":0,"height":0,"name":"","label":"User","format":"{{msg.userId}}","layout":"row-spread","x":1612.8570137023926,"y":536.2857208251953,"wires":[]},{"id":"9578c532.236a68","type":"ui_chart","z":"38cfd079.be753","name":"","group":"be7d314e.1e43f","order":3,"width":"0","height":"0","label":"Gráfica - Interval 1m","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"data input","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1344.1428337097168,"y":139.3571105003357,"wires":[[],[]]},{"id":"47307a75.e568f4","type":"ui_gauge","z":"38cfd079.be753","name":"Peticiones","group":"be7d314e.1e43f","order":4,"width":0,"height":0,"gtype":"gage","title":"Peticiones","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":1318.3928337097168,"y":186.85711145401,"wires":[]},{"id":"866b29.1ed834d8","type":"ui_template","z":"38cfd079.be753","group":"be7d314e.1e43f","name":"Dynamic LoadScriptAsync","order":0,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    \n    function loadScript(url, callback) {\n\n        var script = document.createElement(\"script\")\n        script.type = \"text/javascript\";\n\n        if (script.readyState) { \n            script.onreadystatechange = function () {\n                if (script.readyState == \"loaded\" || \n                    script.readyState == \"complete\") {\n                        script.onreadystatechange = null;\n                        callback();\n                }\n            };\n        } else { \n            script.onload = function () {\n                var timer = setInterval(function() {\n                    clearInterval(timer);\n                    callback();\n                },100);\n            };\n        }\n\n        script.src = url;\n        document.getElementsByTagName(\"head\")[0].appendChild(script);\n    }\n\n        loadScript(\"https://tonejs.github.io/build/Tone.js\", function () {\n            var loaded = 'Tone loaded';\n            console.log(loaded);\n    \n            window.tone =  new Tone.Synth().toMaster();\n            tone.triggerAttackRelease(\"C4\", \"8n\");\n        });\n    \n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":662,"y":97,"wires":[[]]},{"id":"7f78a5dc.83891c","type":"ui_template","z":"38cfd079.be753","group":"be7d314e.1e43f","name":"Watcher","order":6,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    var mutex = false;\n    scope.$watch('msg', function(data) {\n        \n           if(window.tone == null && mutex){\n                mutex = true;\n                alert(\"La libreria 'Tone' no está cargada. Espere al sonido\");\n           }\n           else {\n               \n            var notes = new Array(\"C\",\"D\",\"E\",\"F\");\n            var tones = new Array(1,2,3,4);\n            \n            var note = notes[ Math.round (Math.random() * notes.length)];\n            var tone = tones[ Math.round (Math.random() * tones.length)];\n\n            var music = note+\"\"+tone;\n            var fr = \"\";\n\n\n               if(data.leftHandState == \"Open\"){\n                   fr = \"8n\";\n               }\n               else if(data.leftHandState == \"Closed\"){\n                  fr = \"5n\";\n               }\n               else {}  \n               \n               if(note != undefined && tone != undefined  &&  fr != \"\")\n                    window.tone.triggerAttackRelease(music, fr);\n                \n               if(data.rightHandState == \"Open\"){\n                  fr = \"7n\";\n               }\n                    \n                else if(data.rightHandState == \"Closed\"){\n                   fr = \"9n\";\n                }\n                else { }\n                \n                 if(note != undefined  &&  tone != undefined  &&  fr != \"\")\n                    window.tone.triggerAttackRelease(music, fr);\n\n          }\n         \n    });\n\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1636,"y":794,"wires":[["28f83117.02ba8e"]]},{"id":"51a86b23.ca1264","type":"comment","z":"38cfd079.be753","name":"*******    Miscellaneous    *******","info":"","x":1021.6666259765625,"y":128.3333282470703,"wires":[]},{"id":"235a7f63.8d9fb","type":"ibmiot","z":"","name":"global IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"globalnodered","shared":false},{"id":"e2213d4c.be018","type":"ui_group","z":"38cfd079.be753","name":"Body Parts","tab":"9787d661.04c958","order":3,"disp":true,"width":"6"},{"id":"be7d314e.1e43f","type":"ui_group","z":"38cfd079.be753","name":"Profile","tab":"9787d661.04c958","order":1,"disp":true,"width":"6"},{"id":"82e77142.f2e2d","type":"ui_group","z":"38cfd079.be753","name":"Hands","tab":"9787d661.04c958","order":2,"disp":true,"width":"6"},{"id":"9787d661.04c958","type":"ui_tab","z":"38cfd079.be753","name":"Home","icon":"dashboard"}]